  
  /* Custom Data Table Styling */
.custom-data-table {
    margin: 40px 0;
    /* Spacing between tables */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-data-table caption {
    padding: 20px 0 10px 0;
    font-size: 1.1em;
}

.custom-data-table thead th {
    background-color: #007bff !important;
    color: white;
    padding: 15px;
}

.custom-data-table th,
.custom-data-table td {
    padding: 18px !important;
    line-height: 1.5 !important;
    vertical-align: top !important;
    font-size: 1.1em !important;
}

/* Styling for the row headers (accessibility column) */
.custom-data-table tbody th {
    background-color: unset !important;
}