/* General css for the course pages stylesheet */

div.eapsi-hlikiwmenoi {
  font-size: 1.25rem ;
}


div.eapsi-hlikiwmenoi figcaption {
  margin-top: 8px;
  font-size: 16px;
  color: #555;
}


div.eapsi-hlikiwmenoi ul li {
  padding-left: 0.5rem;
}

.img-card {
  border-radius: 0.5rem;;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}